<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>
<body>
  <header class="site-header">
    <div class="wrapper">
      <a class="site-title" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/logo.svg" | relative_url }}" alt="Give Protocol Logo" style="height: 2rem; width: 2rem;">
        {{ site.title }}
      </a>
      <nav class="site-nav">
        {% for item in site.navigation %}
          <div class="nav-item">
            <a class="page-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% if item.subnav %}
              <div class="subnav">
                {% for subitem in item.subnav %}
                  <a class="subpage-link" href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </nav>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer">
    <div class="wrapper">
      <p>&copy; {{ 'now' | date: "%Y" }} Give Protocol. Licensed under MIT.</p>
    </div>
  </footer>
</body>
</html>